{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block title %}Register{% endblock %}
{% block content %}


<style type="text/css">
    .card {
        border-radius: 12px;
    }

    .account-title {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        margin: 0 auto;
        display: block;
    }

    .account-title {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }

    .profile-label {
        font-weight: bold;
    }
</style>

<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

        <div class="card profile-card m-2">
            <div class="card-body">
                <div class="d-flex flex-column justify-content-center p-4">
                    <form action="" method="post">{% csrf_token %}
                        <label class="account-title">Profile</label>
                        <br>
                        <div class="form-group">
                            <label class="profile-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                value="{{ username }}" required="true">
                        </div>
                        <div class="form-group">
                            <label class="profile-label">Email</label>
                            {% if request.user.is_authenticated %}
                            <input type="email" class="form-control" id="email" name="email"
                                value="{{ email }}" placeholder="Email" required="true">
                            {% else %}
                            <input type="email" class="form-control" id="email" name="email"
                                value="{{ email }}" disabled="disabled" required="true">
                            {% endif %}
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="form-group">
                            <label class="profile-label">New password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                value="{{ password }}" placeholder="New password" autocomplete="off">

                        </div>
                        <div class="mt-4 checkbox">
                            <label>
                                <input type="checkbox" name="hide_email" id="hide_email" {% if hide_email %}checked{%endif%}>
                                Hide Email
                            </label>

                        </div>

                        {% for field in form %}
                        <p>
                            {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% if form.non_field_errors %}
                        <div style="color: red">
                            <p>{{form.non_field_errors}}</p>
                        </div>
                        {% endif %}

                        <br>
                        <button type="submit" class="btn btn-primary" href="{% url 'users:update' pk=request.user.id%}">Update</button>
                        <div class="d-flex flex-column mt-4">
                            <a class="m-auto" href="{% url 'users:delete' pk=request.user.id%}">Delete account</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}