{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card ">
                <div class="card-body">
                    <h1 align="center">{% trans 'Entry' %}</h1>
                    <form method="post">{% csrf_token %}
                        {% bootstrap_form form %}
                        <div align="center"><button class="btn btn-primary" type="submit">{% trans 'Login' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}